<a href="https://colab.research.google.com/github/BALaka-18/Python_Assignments_1-10_IEM/blob/master/10400118162_126_BalakaBiswas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAY 1

PROGRAM 1:
Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [0]:
a= input("Enter your first name:")
b=input("Enter your last name:")
print(b,'  ',a)

PROGRAM 2:
The program takes both the values from the user and swaps them without using temporary variable.

In [0]:
a= input("Enter your first number:")
b=input("Enter your last number:")
print("a=",b,'  ',"b=",a)

PROGRAM 3:
Write a Python program to get the area and perimeter of a circle with radius 6.

In [0]:
r=6
area= 3.14*r*r
perimeter=2*3.14*r
print("THE AREA IS : ",area)
print("THE PERIMETER IS : ",perimeter)

PROGRAM 4:
Python Program to Read a Number n and Compute n+nn+nnn

In [0]:
n=int(input("Enter a number: "))
a= n*n 
b=n*n*n 
product= n+a+b 
print("The answer is: ",product)

PROGRAM 5 :
Python Program to Compute Simple Interest Given all the Required Values

In [0]:
p=float(input("Enter the principle: "))
r=float(input("Enter the rate : "))
t=int(input("Enter the time: "))
si=(p*r*t)/100
print("THE SIMPLE INTEREST IS: ",si)

PROGRAM 6:
Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user.

In [0]:
a=int(input("Enter a number: "))
if a%2==0:
    print("The number is EVEN")
else:
     print("The number is ODD")

PROGRAM 7:
Python Program to Take in the Marks of 5 Subjects and Display the Grade

In [0]:
 sub1=int(input("Enter marks of the first subject: "))  
 sub2=int(input("Enter marks of the second subject: "))  
 sub3=int(input("Enter marks of the third subject: "))  
 sub4=int(input("Enter marks of the fourth subject: "))  
 sub5=int(input("Enter marks of the fifth subject: "))  
 avg=(sub1+sub2+sub3+sub4+sub4)/5  
 if(avg>=90):  
    print("Grade: A")  
 elif(avg>=80 and avg<90):  
    print("Grade: B") 
elif(avg>=70 and avg<80): 
    print("Grade: C")  
 elif(avg>=60 and avg<70): 
    print("Grade: D") 
else:  
    print("Grade: F")

# DAY 2

PROGRAM 1:
Python program to reverse a given number.

In [0]:
a=int(input("Enter a number: "))
rev=0
while a>0:
	rem=a%10
	rev=(rev*10)+rem
	a=a//10
print(rev)

**PROGRAM 2:**

Python program to print all numbers in a range divisible by a given number.

In [0]:
n=int(input("Enter 3 numbers"))
for i in range(0,20):
	if i%n==0:
		print(i)

**PROGRAM 3:
Python program to print a table of a given number.**

In [0]:
n=int(input("Enter a number"))
print("Table of %d is",n)
for i in range(0,11):
	i=i+1
	print(i*n)

**PROGRAM 4:
Python program to check if a number is a perfect number.
**

In [0]:
a=int(input("Enter a number"))
sum=0
for i in range(1,a):
	if(a%i==0):
		sum=sum+i
if(sum==a):
	print("It is a perfect number")
else:
	print("It is not a perfect number")

**PROGRAM 5:
Write a Python program to count the number of characters (character frequency) in a string.
**

In [0]:
n=str(input("Enter a string:"))
characters=0
for i in range(len(n)):
    characters=characters+1
print(characters)

**PROGRAM 6:
Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string.
**

In [0]:
str=input("Enter string:")
count=0
for i in str:
    count=count+1
new=str[0:2]+str[count-2:count]
print("Newly formed string is:")
print(new)

**PROGRAM 7:
Write a Python program where a number given, find sum of digits.
**

In [0]:
n=int(input("Enter an integer:"))
sum=0
while n>0:
    rem=n%10
    sum=sum + rem
    n=n//10
print("Sum of digits is")
print(sum)

**PROGRAM 8:
Write a Python program where a number given, find the largest digit from that number.
**

In [0]:
n=int(input("Enter an integer:"))
l=0
while n>0:
    r=n%10
    if l<r:
        l=r
    n=int(n/10)
print("Largest digit is:",l)

**PROGRAM 9:
Write an integer, n, perform the following conditional actions:
	If n is odd, print weird 
	If n is even and in the inclusive range of 2 to 5, print not weird
	If n is even and in the inclusive range of 6 to 20, print weird
	If n is even and greater than 20,print not weird.
**

In [0]:
n=int(input("Enter an integer:"))
if n%2==1:
    print("Weird")
elif n%2==0:
    for i in range(2,5):
        print("Not Weird")
elif n%2==0:
    for i in range(6,20):
        print("Weird")
else:
        print("Not Weird")

# DAY 3

**Problem 1:
The program takes the elements of the list one by one and displays the average of the elements of the list.
**

In [0]:
a = int(input("Enter the number of elements to be inserted : "))		#Size of list
n = []									#Initializing list
for i in range(0,a):
    elem = int(input("Enter element : "))					#Elements of list
    n.append(elem)						#Appending each element to the list
avg = sum(n)/a								#Calculating average
print("The average of the elements : ", avg)

**Problem 2:
Python Program to Find the Largest Number in a List.
**

In [0]:
n = int(input("Enter the number of elements to be inserted : "))		#Size of list
a = []									#Initializing list
for i in range(0,n):
    elem = int(input("Enter element : "))					#Elements of list
    a.append(elem)						#Appending each element to the list
    a.sort()							#Sorting the list in ascending order	
print("Largest number : ", a[n-1])					#Print the largest element

**Problem 3:
Python Program to Find the Second Largest Number in a List
**

In [0]:
n = int(input("Enter the number of elements to be inserted : "))		#Size of list
a = []									#Initializing list
for i in range(0,n):
    elem = int(input("Enter element : "))					#Elements of list
    a.append(elem)						#Appending each element to the list
    a.sort()							#Sorting the list in ascending order	
print("Second largest number : ", a[n-1])				#Print the second largest element

**Problem 4:
Python Program to Merge Two Lists and Sort it
**

In [0]:
m = int(input("Enter the number of elements to be inserted in first list: "))	#Size of 1st list
a = []										#Initializing 1st list
n = int(input("Enter the number of elements to be inserted in second list: "))	#Size of 2nd list
b = []										#Initializing 2nd list
print()
for i in range(0,m):
    elem = int(input("Enter element of first list : "))				#Reading elements
    a.append(elem)						#Appending the elements to 1st list
print()    
for i in range(0,n):
    el = int(input("Enter element of second list : "))
    a.append(el)							#Appending elements to the 2nd list
print()
a.extend(b)					#Merging the two lists and storing them in the 1st list
print("Merged list : ", a)							#Print merged list 

a.sort()									#Sorting the merged list
print()
print("Merged and sorted list : ", a)				#Print the merged and sorted list

**Problem 5:
Python Program to Replace all Occurrences of ‘a’ with $ in a String
**

In [0]:
string = str(input("Enter string: "))
string = string.replace('a','$')
string = string.replace('A','$')
print()
print("Modified string : ", string)

**Problem 6:
Python Program to Detect if Two Strings are Anagrams
**

In [0]:
string1 = input("Enter string 1: ")				#Read string 1
string2 = input("Enter string 2: ")				#Read string 2
if sorted(string1) == sorted(string2):	#Store the characters in a list and sort them. Then compare
    print("Anagrams.")						#Print Anagram condition if equal
else:
    print("Not Anagrams.")					#Print Not Anagram if not equal

**Problem 7:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.
**

In [0]:
a = []										#Initializing a list
print("The range is : 2000 to 3200")
print()
for i in range(2000, 3201):							#Specify range
    if i%7 == 0 and i%5 != 0:							#Specify condition
        a.append(i)							#Append to list if condition is true
    else:
        continue								#Else, continue back to loop
print("The numbers according to the constraints placed are : ")
print(a)									#Print the list

**Problem 8:
Write a program which can compute the factorial of a given number. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320
**

In [0]:
def fact(n):			#Defining a recursive function to calculate factorial of  a number
    if n == 0:							#Stopping condition
        return 1;
    else:
        return n*fact(n-1)						#Recursion statement

num = int(input("Enter number whose factorial is to be calculated : "))		#Read the number
print()
print("Factorial : ", fact(num))							#Print the result

**Problem 9:
Write a Python program to check a list is empty or not
**

In [0]:
def Check(lst): 
    if len(lst) == 0: 
        return 0
    else: 
        return 1
lst_check = [] 
print(lst_check)
if Check(lst_check): 
    print ("Not empty") 
else: 
    print("Empty List")

**Problem 10:
You are given an array of 0s and 1s in random order. Segregate 0s on left side and 1s on right side of the array.
**

In [0]:
lst = [0, 1, 0, 1, 0, 0, 1, 1, 1, 0] 					#Pre-defined list
print("Original list : ", lst)					#Print original
lt = sorted(lst)							#Sort list (as 0 < 1)
print("Segregated list : ", lt)					#Print new list



# DAY 4

**Problem1:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Sample data: without,hello,bag,world
Expected output: bag,hello,without,world
**

In [0]:
Words=input ("Data : ").split(",");
Words.sort()
print("Output : ",end="")
for index,word in enumerate(Words):
	if index==len(Words)-1:
		 x="\n"
	else :
		x=","
	print(word,end=x)

**Problem2:
Write a Python program to remove an empty tuple(s) from a list of tuples.
Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']
**

In [0]:
inp=[(),(),("",),("a","b"),("a","b","c"),("d")]
l=len(inp)
i=0
while i<l:
	if inp[i]==():
		inp.remove(())
		l-=1
	elif len(inp[i])==1:
		inp[i]=inp[i]
		i+=1
	else:
		i+=1

print(inp)

**Problem3:
Write a Python program to sort a tuple by its float element.
Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]
**

In [0]:
import operator

inp=[("Item1",12.20),("Item2",15.10),("Item3",24.5)]

inp.sort(key=operator.itemgetter(1))
print(inp[::-1])

**Problem4:
Write a Python program to reverse a tuple.
**

In [0]:
inp=(1,2,3,4,9,5,6)

inp=inp[::-1]
print(inp)

**Problem5:
Write a Python program to count occurrences of an element in a Tuple
**

In [0]:

a=(1,2,5,1,9,6,4,7,5,6,2,3,9,5,4,1,2,0)
print(a)
freq={}
for i in a:
	if i in freq:
		freq[i]+=1
	else:
		freq[i]=1


for i in freq:
	print(i,"appears",freq[i])

**Problem6:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
**

In [0]:

n=int(input("Enter Number\n"))
d={}
i=1
while i <= n:
	
	d[i]=i*i
	i+=1

print(d)

**Problem7:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')
**

In [0]:
Data=input ("Data : ").split(",");
print(Data)
print(tuple(Data))

**Problem8:
Define a program which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included)
**

In [0]:

l=[]
i=1
while i<=20:
	l.append(i*i)
	i+=1
t=tuple(l)

print(t)

**Problem9:
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.
Hint : Use [n1:n2] notation to get a slice from a tuple.
**

In [0]:
t=(1,2,3,4,5,6,7,8,9,10)
print(t[:len(t)//2])
print(t[len(t)//2:])

# DAY 5

**Problem 1:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
**

In [0]:
n=int(input("Enter Number\n"))
d={}
i=1
while i <= n:
	
	d[i]=i*i
	i+=1

print(d)

**Problem 2:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')
**

In [0]:
Data=input ("Data : ").split(",");
print(Data)
print(tuple(Data))

**Problem 3:
Write a program that accepts 2 digits X and Y, and generates a 2d array.The element value of the ith row and j th column should be i*j. Note: i=0,1,2,...X-1  j=0,1,2,...Y-1

Suppose the following input is given to the program: 3 5

Then the output of the program should be [[0,0,0,0,0],[0,1,2,3,4],[0,2,4,6,8]]
**

In [0]:
x,y=input("Enter 2 numbers\n").split()

x=int(x)
y=int(y)
M=[]
for i in range(0,x):
	M.append([])
	for j in range(0,y):
		M[i].append(i*j)
		
print(M)

**Problem 4:
Write a program that accepts a sequence of white space separated words as input and prints the words after removing duplicate words and spaces ,and sorting them alphanumerically.

Suppose the following input is supplied to the program: hello world and practise makes perfect and hello world again

Then the output should be: again and hello makes perfect practise world
**

In [0]:
S=input("Enter A String\n")

S=list(S.split())
S=set(S)
S=list(S)
S.sort()
New=""
for Word in S:
	New+=Word+" "
	
print(New)

**Problem 5:
Write a program that accepts a sequence and calculates the number of letters and digits.

Suppose the following input is supplied to the program: 
hello world! 123

Then the output should be: 
LETTERS: 10
DIGITS: 3
**

In [0]:
import re


S=input("Enter A String\n")

x=re.findall("[a-zA-Z]",S)
y=re.findall("[0-9]",S)

print("LETTERS:",len(x))
print("DIGITS:",len(y))

******Problem 6:
A website requires users to input user name and password.Write a program to check the validity of passwords input by the users.

Following are the criteria for checking the password:
1. Atleast 1 letter between [a-z]
2. Atleast 1 number between [0-9]
3. Atleast 1 letter between [A-Z]
4. Atleast 1 character from [$#@]
5. Minimum length of transaction password: 6
6. Maximum length of transaction password: 12

Your program should accept a sequence of comma (“,”) separated passwords and check them according to the above criteria.Passwords that match the criteria are to be printed , each separated by a comma (“,”)

If the following passwords are given as input to the program: 
Abd1234@1,aF1#,2w3E*,2We3345

Then the output of the program should be: 
Abd1234@1
******

In [0]:
import re


S=input("Enter passwords\n").split(",")
n=0
for password in S:
	a=re.findall("[a-z]",password)
	num=re.findall("[0-9]",password)
	A=re.findall("[A-Z]",password)
	sp=re.findall("[$#@]",password)
	if len(a)>0 and len(num)>0 and len(sp)>0 and len(A)>0 and len(password)>=6 and len(password)<=12:
		if n==0:
			print(password,end="")
		else:
			print(",",password,end="")
			
		n=1
		
print("")

**Problem 7:
Write a program to sort the (name,age,height) tuples by ascending order where name is string ,age and height are numbers.The tuples are input by console. The sort criteria is:

	1. Sort based on name
	2. Then sort based on age
	3. Then sort based on score
	The priorrity is name>age>score.
If the following tuples are given as input to the program: 
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85

Then the output of the program should be: 
[(“John”,”20”,”90”),(“Jony”,”17”,”91”),(“Jony”,”17”,”93”),(“Json”,”21”,”85”),(“Tom”,”19”,”80”)]
**

In [0]:
from operator import itemgetter
l=[]
for i in range(5):
	a,b,c=input().split(",")
	l.append((a,b,c))


l.sort(key=itemgetter(0,1,2))

print(l)

# DAY 6

**Problem 1:
Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].
Hints: Use list[index] notation to get a element from a list.
**

In [0]:

Subject=["I","You"]
Verb=["Play","Love"]
Object=["Hockey","Football"]

def Sent():
	for  Sub in Subject:
		for  Vrb in Verb:
			for  Obj in Object:
				print (Sub," ",Vrb," ",Obj)
				
Sent()

**Problem 2:
Let's say you are given a list of names, and you have to print a list using Lambda function that contains the length of each name.
**

In [0]:
Names= input("Enter Names\n").split()

L=list(map(lambda x: len(x),Names))

print(L)

**Problem 3:
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized using function.
**

In [0]:
Sent= input("Enter Lines separated by fullstop.\n").split(".")
Sent=Sent[:-1]
L=list(map(lambda x: x.upper(),Sent))
for S in L:
	print(S,".",sep="")

**Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: D 100 W 200
D means deposit while W means withdrawal.
Sample input:
D 300
D 300
W 200
D 100

Sample output:
500
**

In [0]:
d={}
d["W"]=0
d["D"]=0

while(1):
	
	n=int(input("1 to Deposit 2 to With-drawl andthing else to quit\n"))
	
	if (n==1): 
		amt=int(input("Enter Amount\n"))
		d["D"]+=amt
	elif (n==2): 
		amt=int(input("Enter Amount\n"))
		d["W"]+=amt
	else:
		break
		
print(d["D"]-d["W"])

**Problem 5:
Define a function that can accept two strings as input and concatenate them and then print it in console.
**

In [0]:
Str= input("Enter 2 Strings\n").split()
def Add():
	New=Str[0]+Str[1]
	print(New)
	
Add()

**Problem 6:
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.
**

In [0]:
Str= input("Enter String\n").split()


def P_Max(Str):
	L=list(map(lambda x: len(x),Str))
	if(L[0]>L[1]):
		print(Str[0])
	elif(L[0]<L[1]):
		print(Str[1])
	else:
		print(Str[0])
		print(Str[1])
P_Max(Str)

**
Problem 7:
Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.


Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
**

In [0]:
def F():
	Num= list(map(int,input("Enter Number\n").split()))
	if(len(Num)>3):
		Num=Num[:3]
	d={}
	for N in Num:
		d[N]=N**2
		
	print(d)
F()

**Problem 8:
Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.
**

In [0]:
def F():
	Num= list(map(int,input("Enter Number\n").split()))
	if(len(Num)>20):
		Num=Num[:20]
	d={}
	for N in Num:
		d[N]=N**2
		
	print(d)
F()

**Problem 9:
Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).
**

In [0]:
L=[]
def func():
	for i in range(1,21):
		L.append(i**2)
func()		
print(L)

**Problem 10:
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.
Hint : Use [n1:n2] to slice a list
**

In [0]:
L=[]
def func():
	for i in range(1,21):
		L.append(i**2)
func()		
print(L[5:])

# DAY 7

**Problem 1:
Write a module that reverse a string without using loops and in-build function.
**

In [0]:
def rev(s,n):
	if n>0:
		return s[n]+rev(s,n-1)
	else:
		return s[n]
		


import P1 as r
s=input("Enter String\n")
n=len(s)
print(r.rev(s,n-1))

**
Problem 2:
Write a module which accepts a string from console and print the characters that have even indexes.
**

In [0]:
def CharAtEvInd(s):
    print(s[1::2])

import P2 as even
s=input("Enter the string\n")
even.CharAtEvInd(s)

**
Problem 3:
Write a module which prints all permutations of [1,2,3]
**

In [0]:

from itertools import permutations
def permu(n):
    l=list(permutations(n))
    for i in l:
        print (i)


import P3
l=list(map(int,input("Enter the numbers\n   ").split(",")))
P3.permu(l)

**Problem 4:
Write a Python program to find three numbers from an array such that the sum of three numbers equal to zero.
Input : [-1,0,1,2,-1,-4]
Output : [[-1, -1, 2], [-1, 0, 1]]

Note : Find the unique triplets in the array.
**

In [0]:
def findTriplets(arr, n):
	A=[]
	for i in range(0, n - 2):
		for j in range(i + 1, n - 1):
			for k in range(j + 1, n):
				if (arr[i] + arr[j] + arr[k] == 0):
					L=[arr[i], arr[j], arr[k]]
					L.sort()
					if not (L in A):
						A.append(L)
	
	return A                


import P4
s=list(map(int,input("Enter the numbers\n").split(",")))
print(P4.findTriplets(s,len(s)))

**Problem 5:
Write a program which accepts basic mathematic expression from console and print the evaluation result.
**

In [0]:
s=input("Enter the expression\n")
print(eval(s))

**
Problem 6:
Write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.
**

In [0]:
def binarySearch (arr, l, r, x): 
  
    if r >= l: 
  
        mid = l + (r - l)//2
  
        if arr[mid] == x: 
            return mid 
          
        elif arr[mid] > x: 
            return binarySearch(arr, l, mid-1, x) 
   
        else: 
            return binarySearch(arr, mid+1, r, x) 
  
    else:  
        return -1
        


import P6
s=list(map(int,input("Enter a list of elements in sorted order\n").split(",")))
n=int(input("Enter the element to be searched\n"))
print(P6.binarySearch (s, 0, len(s)-1, n))

# DAY 8

**Problem   1: 
 Write   a   programme   that   reads   a   text   from   a   file   and   writes   it 
 into   another   file   but   in   reverse   order.**

In [0]:
file=open("text.txt",'w')     
 #opens   a   file   in   write   mode 
 file.write("line1   \n   ") 
 file.write("line2   \n") 
 file.write("line3   \n") 
 file.close()            
 #closes   the   file 
 f1=open("text.txt",'r')     
 #opens   the   file   in   read   mode 
 f2=open("newtext.txt",'w')     
 #opens   a   file   in   write   mode 
 newtxt="   " 
 for   i   in   f1.readlines():     
 #reads   lines   from   files 
      newtxt=i+newtxt     
 #reverses   the   text   in   file 
 f2.write(newtxt) 
 f1.close()      
 #closes   the   files 
 f2.close()      
 #closes   the   files 
 
 
f3=open("newtext.txt",'r')    
 #opens   file   in   read   mode 
 print(f3.read())      
 #prints   the   file

**Problem   2: 
 Write   a   programme   to   compare   the   contents   of   two   text   files**

In [0]:
f1=open("text1.txt","r")      
 #opens   file   in   read   mode 
 f2=open("text2.txt","r")      
 #opens   file   in   read   mode 
 for   line1   in   f1:        
 #loop   to   search   1st   file 
      for   line2   in   f2:      
 #loop   to   search   2nd   file 
    
 if   line1==line2:     
 #compares   the   lines   from   2   files 
              print("SAME\n") 
          else: 
              print(line1   +   line2) 
          break 
 f1.close()     
 #closes   the   1st   file 
 f2.close()      
 #closes   the   2nd   file

**Problem   3: 
 Write   a   programme   to   merge   two   files   into   a   third   file **

In [0]:
import   shutil;    
 #import   module   print("Enter   'x'   for   exit."); 
 filename1   =   input("Enter   first   file   name   to   merge:   ");     
 #input   1st 
 filename 
 if   filename1   ==   'x': 
      exit(); 
 else: 
      filename2   =   input("Enter   second   file   name   to   merge:   ");     
 #input 
 2nd   filename 
      filename3   =   input("Create   a   new   file   to   merge   content   of   two   file 
 inside   this   file:   ");     
 #input   3rd   filename 
      print(); 
      print("Merging   the   content   of   two   file   in",filename3); 
      with   open(filename3,   "wb")   as   wfd:      
 #opeening   3rd   file   in   write 
 mode 
          for   f   in   [filename1,   filename2]:       
 #searches   contents   of   1st 
 and   2nd   file 
              with   open(f,   "rb")   as   fd: 
                  shutil.copyfileobj(fd,   wfd,   1024*1024*10); 
      print("\nContent   merged   successfully.!"); 
      print("Want   to   see   ?   (y/n):   "); 
      check   =   input();        if   check   ==   'n': 
          exit(); 
      else: 
 

 
         print(); 
          c   =   open(filename3,   "r"); 
          print(c.read()); 
          c.close();

**Program   4: 
 Suppose   a   text   file   has   severral   lines.   Each   line   begins   with   a 
 line   number.   Now   read   this   file   line   by   line   and   copy   the   line   in 
 another   file   but   do   not   copy   the   numbers. **

In [0]:
with   open("F1.txt","r")   as   f: 
      with   open("F2.txt","w")   as   f1:            
            for   lines   in   f: 
              f1.write(lines[1:])

**Program   5: 
 Write   a   programme   that   copies   data   of   one   file   into   another   in 
 such   a   way   that   each   character   after   full   stop   is   capitialized**

In [0]:
with   open("F1.txt","r")   as   f: 
      with   open("F2.txt","w")   as   f1:            c="" 
          c1="" 
          while   True: 
                c   =   f.read(1) 
              if   not   c: 
                  print   ("End   of   file") 
                  break 
              if   c1   ==   ".":                    f1.write(c.upper()) 
              else: 
                  f1.write(c) 
              c1=c

**Program   6: 
 Write   a   programme   that   copies   one   python   script   to   another 
 file.   At   the   time   of   copying   it   should   skip   all   the   comments**

In [0]:
with   open("F1.txt","r")   as   f: 
      with   open("F2.txt","w")   as   f1:            c="" 
          is_comment=False 
          while   True: 
                c   =   f.read(1) 
              if   not   c: 
                  print   ("End   of   file") 
                  break 
                if   c   ==   "#": 
                  is_comment   =   True 
              if   c   ==   "\n": 
                  is_comment   =   False 
                if   is_comment   ==   False: 
                  f1.write(c)

# DAY 9

**Primary conditions for password validation :

Minimum 8 characters.
The alphabets must be between [a-z]
At least one alphabet should be of Upper Case [A-Z]
At least 1 number or digit between [0-9].
At least 1 character from [ _ or @ or $ ].**

In [0]:
import re 
password = "R@m@_f0rtu9e$"
flag = 0
while True:   
    if (len(password)<8): 
        flag = -1
        break
    elif not re.search("[a-z]", password): 
        flag = -1
        break
    elif not re.search("[A-Z]", password): 
        flag = -1
        break
    elif not re.search("[0-9]", password): 
        flag = -1
        break
    elif not re.search("[_@$]", password): 
        flag = -1
        break
    elif re.search("\s", password): 
        flag = -1
        break
    else: 
        flag = 0
        print("Valid Password") 
        break
  
if flag ==-1: 
    print("Not a Valid Password")

**Given an input, write a Python program to check whether the given Input is Floating point number or not.**

In [0]:
# Python program to check input is 
# Floating point number or not 
  
# import re module 
  
# re module provides support 
# for regular expressions 
import re 
  
# Make a regular expression for 
# identifying Floating point number  
regex = '[+-]?[0-9]+\.[0-9]+'
  
# Define a function to 
# check Floating point number  
def check(floatnum):  
  
     # pass the regular expression 
     # and the string in search() method 
    if(re.search(regex, floatnum)):  
        print("Floating point number")  
          
    else:  
        print("Not a Floating point number")  
      
  
# Driver Code  
if __name__ == '__main__' :  
      
    # Enter the floating point number 
    floatnum = "1.20"
      
    # calling run function  
    check(floatnum) 
  
    floatnum = "-2.356"
    check(floatnum) 
  
    floatnum = "0.2"
    check(floatnum) 
  
    floatnum = "-3"
    check(floatnum)

# DAY 10

**Implementation of GUI**

In [0]:
import tkinter as tk
window=tk.Tk()
window.title('Students Indormation')
window.geometry("300x400")
label1=tk.Label(window,text="Name")
entry1=tk.Entry(window)
label2=tk.Label(window,text="Stream")
entry2=tk.Entry(window)
label3=tk.Label(window,text="Marks")
entry3=tk.Entry(window)
def inserttofile():
    file=open('write.csv','a+')
    file.write(entry1.get()+','+entry2.get()+','+entry3.get()+',')
    file.close()
button1=tk.Button(window,text="Insert",command=inserttofile)
button2=tk.Button(window,text="Quit",command=window.destroy)
label1.grid(row=0,column=0)
entry1.grid(row=0,column=1)
label2.grid(row=1,column=0)
entry2.grid(row=1,column=1)
label3.grid(row=2,column=0)
entry3.grid(row=2,column=1)
button1.grid(row=3,column=0)
button2.grid(row=3,column=1)
window.mainloop()